name: "PR"
on: [pull_request, workflow_dispatch]
jobs:
  fork:
    # check PR is not running from a fork
    name: Check head branch
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ${{ github.event }}
          if [[ "${{ github.event.pull_request.head.repo.full_name }}" != "juju/juju-controller" ]]; then
            echo "::error::CI is unable to run on a PR opened from a fork. Please push your branch to the main repo and reopen this PR."
            exit 1
          fi
